<h2> Click on words to see definitions</h2>
<ul>
<% @words.each do | word| %>
<li><a href ="/<%= word.word %>"><%= word.word %></a></li>
	
<% end %>
</ul>

<a class="btn btn-primary" href="/new">Add new word</a>