
<h3>Add word and definition:</h3>
<h6>Leave definition field empty if needed</h6>
<form method="post" action="/">
  <div class="form-group">
    <label for="word">Word:</label>
    <input type="text" class="form-control" name = "word">
  </div>
	<div class="form-group">
		<label for="definition">Definition1:</label>
		<input type="textarea" class="form-control" name ="definition1">
	</div>
	<div class="form-group">
		<label for="definition">Definition2:</label>
		<input type="textarea" class="form-control" name="definition2">
	</div>
	<div class="form-group">
		<label for="definition">Definition3:</label>
		<input type="textarea" class="form-control" name="definition3">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
 </form>